
<% if(user!=null) {%>
  <h1>Logat ca <%-user %></h1>
<h1>Bine ați venit, <%-nume %> <%-prenume %></h1>
<a href="/log-out">Logout</a>
<%}else{%>
  <a href="/autentificare">Autentificare</a>
<%}%>

<p>
  Cafea de specialitate proaspăt prăjită. <br/>
  Prima prăjitorie de cafea cu lemne din Romania!<br/>
  De mai multi ani, aroma de cafea proaspat prajita de catre noi a inceput sa invadeze strazile orasului Iasi. In cadrul atelierului nostru, prajim cu multa atentie, in cantitati mici, o selectie de boabe de cafea de specialitate aduse din toata lumea, realizand astfel o gama foarte variata, pe gustul tuturor.<br/><br/><br/>
  Pagina noastra web va ofera doua sectiuni:
  <ul>
  <li>Chestionar unde va puteti testa cunostintele despre cafea</li>
  <li>Autentificare unde va puteti loga cu contul dumneavoastra</li>
</ul></p>