<!DOCTYPE html>
<html>
  <head>
    <title>CofeeShop</title>
    <link rel="stylesheet" href="/still.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap" rel="stylesheet">
  </head>
  
  <br>
  <body>
    <div class="header">
      <img src="logo.png" alt="logo">
    </div>
    <nav>
      <ul class="navig">
      <li><a href="/">Acasa</a></li>
      <li><a href="/chestionar">Chestionar</a></li>
      <li><a href="/autentificare" >Autentificare</a></li>
     </ul>
    </nav>
    <div class="continut">
    <%- body -%>
    </div>
  <div class="footer">
    <p>@copyright : Romascu Vlad -proiect2</p>
  </div>
  </body>
  <br/>
</html>